@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: "Azeret Mono", monospace;
}


/* banner section styles starts here */
.banner-container{
    width: 100%;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.banner-image{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin-top: 68px; 
    letter-spacing: 0%;
    text-align: center; 
    }

  .banner-text img{
    width: 240.28px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 50px;
  }  
.banner-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    align-items: center;
    text-align: center;
}
.button{
    padding: 20px 25px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;

    background: rgb(13, 19, 33);
    color: #fff;
    width: 208px;
height: 66px;
margin-top: 30px;
}
/* banner section styles ends here */

/* why web development section styles starts here */
.development-container{
    width: 946px;
    height: 1435px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    border-radius: 16px;
    
}


.web-text{
    width: 852px;
    margin: 80px auto;
    padding-top: 70px;
    text-align: center;
}

.web-text>h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.web-text>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
}



.do-code{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.do-code-content, .help-people, .do-code2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}

.do-code-content{
    padding: 48px;
    background-image: linear-gradient(to right,#FFFFFFFF,#FFFFFF00);
    border-radius: 16px;
}

.help-people{
    padding: 48px;
    background-image: linear-gradient(to left,#FFFFFFFF,#FFFFFF00);
    border-radius: 16px;
}

.do-code2{
    padding: 48px;
    background-image: linear-gradient(to right,#FFFFFFFF,#FFFFFF00);
    border-radius: 16px;
}

.do-code-text{
    Width: 400px;
    Height: 220px;
}

.do-code-text>h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.do-code-text>p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.do-code-text>a>button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px;
}
/* why web development section styles ends here */

/* my inspiration section styles starts here */

.my-inspiration-container {
    width: 1140px;
    height: 777px;
    margin: 0 auto;
}

.my-inspiration-text {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-inspiration-text h1 {
      font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.my-inspiration-text p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 48px;
}


.my-inspiration-video {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 614px;
    margin-top: 80px;
    margin: 0 auto;
    
}

.my-inspiration-video .video {
    padding: 32px;
    border: 2px solid rgb(13 19 33 / 0.1);
    border-radius: 16px;
}

/* my inspiration section styles ends here */
